@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap') * {
  box-sizing: border-box;
}

:root {
  --background: #c8b3fd;
  --button-color: #5e4899;
  --progress-color: #8c6ce4;
  --line-progress-full: #8c6ce4;
  --line-progress-empty: #bdbdbd;
}

body {
  background-color: var(--background);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


/* Utility like classes */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

/* Start of Normal CSS  */

.container {
  background-color: white;
  padding: 20px 50px;
  border-radius: 25px;
  width: 50vw;
  height: 60vh;
}

.form-container {
  gap: 20px;
  flex: 1;
}

.form {
  gap: 15px;
}

.form input {
  padding: 10px;
  border: 2px solid rgb(143, 142, 142);
  border-radius: 10px;
}

.btn {
  width: 45%;
  border: none;
  padding: 8px 0px;
  border-radius: 10px;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
}

.btn:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.progress-container {
  position: relative;
}

.progress-container::before {
  content: '';
  background-color: var(--line-progress-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  background-color: var(--progress-color);
  z-index: 1;
  transition: 0.4s ease;
}

.circle {
  display: flex;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 3px solid var(--line-progress-empty)
}

.circle.active {
  border-color: var(--line-progress-full);
}